div.ms-hero.mb-lg
  div.ms-hero-body
    h1.ms-hero-title Command Bot - Help Docs
    div.ms-hero-content
      p
        | Based on&nbsp;
        a(href=repoLink) #{repoLink}
      p rev: #{scriptsRevision}
      p Running custom commands, like:
        br
        code #{commandStart} command-name -v VAR=value id --argument=1 --argument=2
        br
        br
        | Or even multiple commands in one comment:
        br
        code #{commandStart} clean
        br
        code #{commandStart} command-name --argument=2
        br
        code #{commandStart} command-name --argument=3
      p To add a new command: &nbsp;
        ol
          li Go to&nbsp;
            a(href=config.pipelineScripts.repository) #{config.pipelineScripts.repository}
          li Add new command and open a PR.
          li Read&nbsp;
            a(href="\#link-new-command") how to test the new command before merging.
          li Merge. Then after merging the PR, it will be accessible without branch override.
